@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100vh;
    width: 100vw;
    background-color: black ;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding-top: 10px;
    
   
}

main{

    height: 100vh;
    position: relative;
    
}

#telefone{
    height: 628px;
    width: 311px;
    border-radius: 47px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%) ;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 473px;
}

section img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

section#redesSociais img:hover{
    border: 2px solid white;
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px black;
    transition: 0.5s ;
}

section#redesSociais{
    text-align: right;
}

